footer {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #fff;
    background-color: var(--footer-color);

    &.footer-other-pages {
        position: relative;
        top: 116px;

        @media (max-width: 640px) {
            top: 0;
        }
    }

    @media (max-width: 640px) {
        padding-top: 50px;
        padding-bottom: 40px;
    }
}
.footer-container {
    display: flex;
    column-gap: 120px;
    margin-bottom: 50px;


    @media (max-width: 640px) {
        flex-direction: column;
    }
}
.footer-contacts {
    max-width: 220px;
    p {
        margin-bottom: 9px;
        font-size: 14px;
    }
    img {
        margin-bottom: 18px;
    }

    @media (max-width: 640px) {
        text-align: center;
        margin: 0 auto 40px;
    }
}
.number-tel {
    margin-bottom: 15px;
    font-size: 14px;
}
.contacts-social {
    display: flex;
    gap: 15px;

    a {
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: var(--orange);
            }
        }
    }

    @media (max-width: 640px) {
        justify-content: center;
    }
}
.footer-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;

    @media (max-width: 640px) {
        padding: 0 40px;
        row-gap: 35px;
        column-gap: 60px;
        justify-content: flex-start;
    }
}
.footer-item {
    a {
        font-size: 14px;
    }
    li:not(:last-child) {
        margin-bottom: 8px;
    }
}
.item-title {
    font-size: 16px;
    font-weight: 600;
}
.footer-rights {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 700;
}